body{
    font-family: 'Courier New', Courier, monospace;
  }
  
  .container{
    width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
  }
  
  header > h1{
    color: palevioletred;
    margin: 10px auto;
  }
  
  .todo_input{
    width: 70%;
    line-height: 40px;
    text-indent: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: darkslategrey;

  }
  
  .todo_input::placeholder{
    font-style: italic;
    font-size: 18px;
    color: lightblue;
    font-family: 'Courier New', Courier, monospace;

  }
  
  .todo_list{
    list-style: none;
    padding: 0;
  }

  .todo_item{
      border: 1px solid seagreen;
      width: 70%;
      line-height: 40px;
      margin: 0 auto;
      position: relative;
  }

  .checked{
      width: 30px;
      height: 30px;
      position: absolute;
      top: 44%;
      left: 10px;;
      transform: translateY(-50%);
      
  }